<nav class="navbar navbar-expand-lg navbar-light bg-warning rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sehat Intel 💊</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/login" *ngIf="!authservice.loggedIn()">Login <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" *ngIf="!authservice.loggedIn()">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://sehatintel.herokuapp.com/">User App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/records" *ngIf="authservice.loggedIn()">Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authservice.loggedIn()" (click)="authservice.logoutUser()">Logout</a>
      </li>

    </ul>
  </div>
</nav>
