<div class="row p-2 m-2">
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-6 mb-3 pr-1 pl-1" *ngFor="let record of records" (click)="view(record._id)">
    <div class="card text-center" [class]="record.status ==='Covid' ? 'border-danger' : 'border-success'">

      <div class="card-header">{{record.username | uppercase}}
      </div>

      <div class="card-body">
        <h5 class="card-title">{{record.percent}}</h5>
        <p class="card-text">{{ record.status | uppercase}}</p>
      </div>
    </div>

  </div>
</div>


